body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background: url(img/10bg.jpeg) center no-repeat;
    background-size: cover;
    transition: 1s;
}

.return {
    top: 10px;
    left: 20px;
    color: #000;
    position: absolute;
    text-decoration: none;
    z-index: 10000;
}

.return:hover {
    text-decoration: underline;
}